extends layout

block content
     h1 #{title}

     if category && category.length == 0
          h3 No Categories Alvailable
          a(href="/categorys/create") Click here to create one

     else
          ul
               each cat in category
                    li
                         a(href=cat.url) #{cat.name}
