doctype html
html
    head
        title Inventory App
    body
        h2 
            a(href="/") Somtyn App
        ul
            li
                a(href="/categorys") Categories
            li
                a(href="/items") Items
            li 
                a(href="/categorys/create") Create New Category
            li
                a(href="/items/create") Create New item
        hr

        block content
