extends layout

block content
  h1 #{title}: #{instance.imprint}

  hr

  p Do you really want to delete this Author?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='instanceid', required='true', value=instance._id )

      button.btn.btn-primary(type='submit') Delete